// Material ui

$green: #4CAF50;
$red: #F44336;
$yellow: #FFEB3B;

// Adobe ui
$light-green: #3CB830;
$dark-green: #1F8515;
$blue: #5547C4;
$light-orange: #EB7426;
$dark-orange: #AB4400;
$light-gray: #e6e6e6;


// backgrounds
.bg-blue {
  background-color: $light-green;
}

.bg-light-gray {
  background-color: $light-gray;
}

// text
.text-white {
  color: $light-gray;
}
