html,
body,
#app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
}

@mixin flex-column {
  flex-direction: column;
}

.flex {
  
  &-center {
    justify-content: center;
    align-items: center;

    &--column {
      @extend .flex-center;
      @include flex-column;
    }
  }

  &-around {
    justify-content: space-around;
    align-items: center;

    &--column {
      @extend .flex-around;
      @include flex-column;
    }
  }
  
}
